.place {
  max-width: 984px;
  min-width: 320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 484px);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 48px 40px;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: 1fr minmax(min-content, 456px);
    gap: 48px 32px;
  }
}

@media (max-width: 900px) {
  .place {
    grid-template-columns: 1fr minmax(min-content, 352px);
    gap: 48px 28px;
  }
}

@media (max-width: 600px) {
  .place {
    justify-content: center;
    grid-template-columns: 320px;
    gap: 32px;
  }
}
